<footer class="bg-footer text-center">
    <div class="container pt-3 disp-flex">
      <section class="sec-sub">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-2">
                <input type="email" id="form5Example21" class="form-control" />
                <!-- <label class="form-label" for="form5Example21">Email address</label> -->
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-success mb-2">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>
      <section class="mb-2">
        <a class="btn btn-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
        <a class="btn btn-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
        <a class="btn btn-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="btn btn-primary btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
    <div class="footer-copyright text-white text-center p-2">
        <div>
            <a class="text-white text-decoration-none" href="https://einsteinmed.edu/">Albert Einstein College of Medicine</a>
            | Jack and Pearl Resnick Campus, 1300 Morris Park Ave, Bronx, New York 10461
        </div>
        <div>
            © 2023
            <a class="text-white text-decoration-none" href="https://einsteinmed.edu/">Copyright Policy</a> | 
            <a class="text-white text-decoration-none" href="https://einsteinmed.edu/">Privacy Policy</a>
        </div>
    </div>
  </footer>