.main{
    margin: 10px;
    margin-bottom: 30px;;
    border: 1px solid silver;
    padding: 10px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 3px;
}
.page-head{
    text-align: center;
}
.page-head label{
    font-size: 30px;
}
.my-btn{
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.srch-box{
    width: 210px;
}
.btn-active{
    background-color: #73017e;
    color: #fff;
    border: 1px solid silver;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1px 10px !important;
}
.btn-inactive{
    background-color: #f7f7f7;
    border: 1px solid silver;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1px 10px !important;
}