.ex-box{
    border: 1px solid silver;
    padding: 10px;
}
.lbl{
    font-size: 12px;
}
.lbl2{
    font-size: 10px;
    color: rgb(185, 0, 0);
}
.lbl-title{
    font-size: 8px;
}
.sm-input{
    width: 90px;
    margin-right: 10px;
}